<div class='row'>
  <section class='main col-md-9'>
    <article>
      <h2>About</h2>

      <p>&nbsp; What We Offer Tech Insights: Explore articles, tutorials, and
        guides that cover web development, databases, and programming concepts.</p>
      <p>&nbsp;Hands-On Learning: Learn by doing with practical code examples
        and real-world projects.
      </p>
      <p>&nbsp;Community Engagement: Join the community, ask questions, and
        collaborate with fellow tech enthusiasts.</p>
      <p>&nbsp;About the Creator: Logic Blog is the creation of Eray Sahin, who
        is dedicated to making technology accessible and enjoyable.
      </p>
      <p>&nbsp;Get Started:Start your learning journey with us. Explore our
        content, join the community, and let's dive into the world of technology
        together.
      </p>
    </article>
  </section>
  <aside class='col-md-3'>
    <h2>Coming Soon</h2>
    <p>Stay tuned for exciting updates and new features on my website. I am
      working hard to bring you the best experience possible, so check back
      soon!</p>
  </aside>
</div>