      <div class="row">
        <section class="main col-md-9">
          <article>
          <h2>About</h2>
          <p>&nbsp;I am Eray Sahin, a computer programming student at Seneca College with a strong passion for the field and a desire to constantly improve my skills. I have been studying computer programming for 1.5 years now and have gained a wealth of knowledge and experience in a variety of programming languages and technologies. In particular, I possess expertise in C++, Java, HTML, CSS, and JavaScript, which I have gained through my studies and personal projects.</p>
          <p>&nbsp;My skills in game development, web programming tools and frameworks, as well as knowledge of test automation, have allowed me to develop a well-rounded skill set. I have used these skills to create a number of projects, including games, websites, and automation scripts, which have helped me to improve my abilities and gain experience in different areas of the field.</p>
          <p>&nbsp;In addition to my technical skills, I also possess strong communication and creative thinking abilities. These abilities allow me to approach problems in a unique and effective manner. I am able to work well in a team and am always willing to help others when needed.</p>
          <p>&nbsp;As I near graduation, I am actively seeking opportunities in the software industry where I can apply my skills and continue to grow as a professional. I am excited about the prospect of working with a team of experienced professionals and am eager to learn from them. I am also looking forward to the challenge of working on real-world projects and contributing to the development of innovative software.</p>
          <p>&nbsp;In conclusion, I am a passionate and dedicated computer programming student with a strong desire to improve my skills and grow as a professional. I possess a wide range of technical skills and am able to approach problems in a unique and effective manner. I am actively seeking opportunities in the software industry and am excited about the prospect of working with a team of experienced professionals and contributing to the development of innovative software.</p>
          </article>
        </section>
        <aside class="col-md-3">
          <h2>Coming Soon</h2>
          <p>Stay tuned for exciting updates and new features on my website. I am working hard to bring you the best experience possible, so check back soon!</p>
        </aside>
      </div>