<h2>Add Category</h2>

<form action="/categories/add" method="post">
  <div>
    <label for="category">Category:</label>
    <input type="text" id="category" name="category" autofocus>
  </div>
  <button type="submit">Add Category</button>
</form>
